In [1]:
# no parameter, no return value

def print_script() :
    print("Blessed are the poor in spirit,")
    print("for theirs is the kingdom of heaven.")
    print(" ")
    
print("result of first function call, ")
print("=" * 25)
print_script() # first function call

def repeat_script() :
    print_script()
    print_script()
    
print("result of second function call, ")
print("=" * 25)
repeat_script() # second function call

result of first function call,
=========================
Blessed are the poor in spirit,
for theirs is the kingdom of heaven.

result of second function call,
=========================
Blessed are the poor in spirit,
for theirs is the kingdom of heaven.

Blessed are the poor in spirit,
for theirs is the kingdom of heaven.

In [2]:
def print_chr(times) :
    for i in range(times) :
        print("*")
        
print("result of first function call, ")
print("=" * 25)
print_chr(5)

def print_line(t) :
    print("*" * t)
    
print("result of second function call, ")
print("=" * 25)
print_line(10)

result of first function call,
=========================
*
*
*
*
*
result of second function call,
=========================
**********

In [3]:
# parameter, return value

def plus(num1, num2) :
    return num1 + num2

result_plus = plus(2, 12)
print("result of plus(2, 12)")
print(result_plus)

def mul(num1, num2) :
    return num1 * num2

result_mul = mul(2, 12)
print("result of mul(2, 12)")
print(result_mul)

result of plus(2, 12)
14
result of mul(2, 12)
24

In [4]:
# parameters and arguments1

def print_twice(something) : # something = parameter
    print(something)
    print(something)
    
print_twice('Love') # argument/ parameter와 argument의 개수는 같아야 함

Love
Love

In [5]:
# parameter and arguments2

def print_twice(something) :
    print(something)
    print(something)
    
print_twice('Love is real')

Love is real
Love is real

In [6]:
# parameter and arguments3

def User_pow(number1, number2) :
    result = 1
    if number2 == 0 :
        result = 1
    else :
        for i in range(number2) :
            result = result * number1
    print(result)
    
User_pow(2, 0)

1

In [7]:
User_pow(2, 3)

8

In [8]:
# parameter and arguments4

def User_Max(number1, number2, number3) :
    Max = number1
    if number2 > number1 and number2 > number3 :
        Max = number2
    if number3 > number2 and number3 > number1 :
        Max = number3
    print(Max)

In [9]:
User_Max(4, 7, 2)

7

In [10]:
# return statement1
# define function plus(a, b)

def plus(a, b) :
    return(a + b)

i = plus(3, 5)
print("return value of function plus(3,5) = ", i)

return value of function plus(3,5) =  8

In [11]:
# return statements2
# define function plus_list(listname)

num_list=[1,3,5,7,9]
def plus_list(listname) :
        sum = 0
        for i in listname :
            sum = sum + i
            print(i, sum)
        return sum, num_list
    
pl = plus_list(num_list) # function call
print("return value of function plus_list([1,3,5,7,9]) = ", pl)

1 1
3 4
5 9
7 16
9 25
return value of function plus_list([1,3,5,7,9]) =  (25, [1, 3, 5, 7, 9])

In [12]:
# return statements3

def fahrenheit(celsius) :
    # return the temperature in degrees Fahrenheit
    return (celsius * 9 / 5) + 32

for t in (22.6, 25.8, -10, 0.0) :
    print("celsius = ", t, "fahrenheit = ", fahrenheit(t))

celsius =  22.6 fahrenheit =  72.68
celsius =  25.8 fahrenheit =  78.44
celsius =  -10 fahrenheit =  14.0
celsius =  0.0 fahrenheit =  32.0

In [13]:
# 연습문제1
# 2개의 파라미터를 지정
# 지정한 파라미터 두개의 곱을 리턴하는 함수를 작성
# 이 함수를 호출하기 전 사용자에게 2개의 숫자를 입력받음, 위에 만든 함수를 호출, 결과값을 받아서 출력

def mul_num(n1, n2) :
    return n1 * n2

n1 = int(input("Enter number1 :"))
n2 = int(input("Enter number2 :"))

mul_num(n1, n2)

Enter number1 :4
Enter number2 :5

20

In [14]:
# 예제1
# define sum(n1, n2, n3) function

def sum(i, j, k) :
    return i + j + k

for i in range(10) :
    print(i, " + ", i+1, " + ", i+3, " = ", sum(i,i+1,i+3))
    
print(" = ", 30)

0  +  1  +  3  =  4
1  +  2  +  4  =  7
2  +  3  +  5  =  10
3  +  4  +  6  =  13
4  +  5  +  7  =  16
5  +  6  +  8  =  19
6  +  7  +  9  =  22
7  +  8  +  10  =  25
8  +  9  +  11  =  28
9  +  10  +  12  =  31
 =  30

In [16]:
# 예제1

a = int(input("enter first integer = "))
b = int(input("enter second integer = "))
c = int(input("enter third integer = "))
print(a, " + ", b, " + ", c, " = ", sum(a,b,c))
print("=" * 30)

enter first integer = 4
enter second integer = 5
enter third integer = 7
4  +  5  +  7  =  16
==============================

In [17]:
# 예제2
# define ex function ; exchange list element

def exchange(listN,i,j) : # 자리 변경하는 함수/ exchange(listN,i,j) 중 i,j는 어떤 index를 가진 item을 움직일지 결정
    temp = listN[i]
    listN[i] = listN[j]
    listN[j] = temp

In [18]:
nums = [1, 3, 5, 7, 9, 11]
fr = ['apple', 'banana', 'blueberry', 'lemon', 'melon']

print("*"*50)
print(nums)
print(fr)

**************************************************
[1, 3, 5, 7, 9, 11]
['apple', 'banana', 'blueberry', 'lemon', 'melon']

In [19]:
exchange(nums,0,1)
exchange(fr,0,1)

print("exchange index 0,1 =", nums)
print(fr)

exchange index 0,1 = [3, 1, 5, 7, 9, 11]
['banana', 'apple', 'blueberry', 'lemon', 'melon']

In [20]:
exchange(nums,1,4)
exchange(fr,1,4)

print("exchange index 1,4 =", nums)
print(fr)
print("*"*50)

exchange index 1,4 = [3, 9, 5, 7, 1, 11]
['banana', 'melon', 'blueberry', 'lemon', 'apple']
**************************************************

In [21]:
# 지역변수(Variables with Local Scope)

def fun(count) : # count: local scope
    a =5 # a: local scope
    count = count + a
    return count

count = 0 # count: global scope

print('result = ', fun(count))
print(count) # count: global scope

result =  5
0

In [22]:
# 전역변수(Global Variables inside a Function)

def fun(count) : # count: local scope
    global a
    a = 5 # global a is changed
    count = count + a
    return count

a = 0 # count: global scope

print('result = ', fun(count))
print(a) # count: global scope

result =  5
5